# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore VS Code metadata
.vscode/

# Ignore Jupyter notebook outputs and cached outputs
.ipynb_checkpoints/
*.log
.env
botpy.log*
image.jpg
database.db

test.py
test.txt
test.*

faiss/*
files/*

nohup.out